// COLORS

$black: #000;

$gray-1: #ccc;
$gray-2: #777;
$gray-3: #e5e5e5;
$gray-4: #333;

$gold-1: #aa6708;

$white: #fff;

// COLORS FOR GOOGLE FORM BUTTON REPRODUCTION
$form-azure-1: #4285f4;
$form-azure-2: #4787ed;
$form-azure-3: #3079ed;
