<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Grazie...</h1>

            <p>...per aver accettato di partecipare a questo esperimento, sappi
                che per noi significa molto.</p>

            <h3>Come funziona</h3>
            <p>Il funzionamento &egrave; molto semplice: ti verranno mostrate una serie di
                immagini di alcune home page di Universit&agrave; italiane. Una volta
                visualizzata un'immagine ti verr&agrave; proposto un questionario a cui
                dovrai rispondere prima di procedere con l'immagine successiva.</p>

            <div class="bs-callout bs-callout-warning">
                <h4>Ti chiediamo di fare particolare attenzione quando compili il
                    questionario</h4>
                <p>Prima di clickare il tasto <span class="btn btn-default">Prossimo</span>,
                    che si trova al di sotto del questionario stesso, ricordati di premere
                    il tasto <span class="jfk-button jfk-button-action">Submit</span>
                    all'interno del questionario.
                    <br>
                    Se per caso dovessi premere il tasto
                    <span class="btn btn-default">Prossimo</span> prima di aver
                    inviato le risposte al questionario, queste
                    andranno perse rendendo vano il <strong>tuo</strong> lavoro!</p>
            </div>

            <div class="divide100 text-center">
                <a class="btn btn-primary" href="/#/images">Sono pronto ad iniziare!</a>
            </div>
        </div>
    </div>
</div>
