<div ng-if="images.isLoading">
    <p class="text-center">Caricamento immagini in corso...</p>
</div>
<div class="row" ng-if="!images.isLoading">
    <div class="ready col-sm-12 container"
         ng-if="images.step == 0">
        <div class="text-center">
            <a class="btn btn-primary" ng-click="images.viewChanger()">Quando sei pronto ad iniziare clicka qui</a>
        </div>
    </div>

    <div class="set col-sm-12 container"
         ng-if="images.step == 1">
        <div class="text-center">
            <h2 class="countdown">{{images.missingSeconds}}</h2>
        </div>
    </div>

    <div class="go col-sm-12"
         ng-if="images.step == 2 && images.isSuccessful">
        <img class="screenshot"
             ng-src="{{images.imageSrc}}">
    </div>

    <div class="results col-sm-12 text-center"
         ng-if="images.step == 3">
        <h3>Rispondi al questionario</h3>

        <div>
            <iframe ng-src="{{images.formSrc}}"
                    width="760"
                    height="700"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0">Loading...</iframe>
        </div>

        <button class="btn btn-primary"
                ng-click="images.viewChanger()">
            Prossimo
        </button>
    </div>
</div>
