<div class="container"
     ng-if="vm.step == -1">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Test fase 2</h2>
            <p>
                Adesso ti verrà mostrata un'immagine di test per farti prendere
                confidenza con la fase 2 dell'esperimento. L'immagine rimarrà
                visibile a schermo per quanto tempo desideri. Scrollando dopo
                l'immagine, troverai il questionario a cui potrai rispondere
                continuando a guardare l'immagine. <span ng-if="vm.mode != 'c'">Prima di visualizzare
                l'immagine potrai sempre rileggere il caso d'uso a cui fare
                riferimento.</span>
            </p>
            <p>
                Come sempre, ricordati di inviare il questionario cliccando sul
                bottone <span class="jfk-button jfk-button-action">Submit</span>
                prima di procedere all'immagine successiva.
            </p>
            <div class="text-center">
                <a class="btn btn-primary" ng-click="vm.starter()">Clicca qui per procedere</a>
            </div>
        </div>
    </div>
</div>
<div class="container parent-container"
     ng-if="vm.step == 0">
    <div class="ready step-container">
        <div class="bs-callout bs-callout-warning"
             ng-if="vm.mode != 'c'">
            <p ng-if="vm.mode == 'g'">
                Immagina di essere uno studente che ha deciso di
                cambiare università. Vuoi ottenere delle informazioni specifiche
                sull'ateneo di destinazione, per esempio quali corsi propone.
                Decidi di visitare il sito dell'università per questo motivo.
            </p>
            <p ng-if="vm.mode == 'a'">
                Immagina di essere uno studente che ha deciso di cambiare
                università. Vuoi ottenere delle informazioni sull'ateneo di
                destinazione. Decidi di visitare il sito dell'università per
                questo motivo.
            </p>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" ng-click="vm.imageViewer()">Vai all'immagine {{vm.currentImage}}/{{vm.imagesCount}}</a>
        </div>
    </div>
</div>

<div ng-if="vm.step == 1 && vm.isSuccessful">

    <div class="go">
        <img class="screenshot"
             ng-src="{{vm.imageSrc}}">
    </div>

    <div class="text-center">
        <h3>Rispondi al questionario</h3>

        <div>
            <iframe ng-src="{{vm.formSrc}}"
                    width="760"
                    height="800"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0">Loading...</iframe>
        </div>

        <div class="divide50">
            <h4>Ricordati di inviare il questionario prima di procedere</h4>
            <button class="btn btn-default"
                    ng-click="vm.viewChanger()">
                Prossimo
            </button>
        </div>
        <div class="divide100"></div>
    </div>
</div>
