<div class="container"
     ng-if="vm.step == -1">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Test fase 1</h2>
            <p>Adesso ti verranno mostrate 10 immagini di test che
                servono solamente per farti abituare. Ogni immagine sarà
                preceduta da un countdown di 3 secondi e verrà visualizzata per
                0.5 secondi. Al termine della visualizzazione ti sarà mostrato un
                questionario composto da una domanda; ricordati inviarlo cliccando sul
                bottone <span class="jfk-button jfk-button-action">Submit</span>
                prima di procedere all'immagine successiva.</p>
            <p ng-if="vm.mode != 'c'">Prima del coutdown ti verrà presentato un possibile caso d'uso di
                un utente reale. Leggilo attentamente e cerca di immedesimarti
                nell'utente descritto prima di procedere. In questa fase il caso
                d'uso sarà sempre lo stesso, ma ti verrà presentato sempre per
                permetterti di rileggerlo nel caso tu ne abbia bisogno.</p>
            <div class="text-center">
                <a class="btn btn-primary" ng-click="vm.starter()">Clicca qui per procedere</a>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.isLoading && vm.step >= 0">
    <p class="text-center">Caricamento immagini in corso...</p>
</div>
<div class="container parent-container"
     ng-if="!vm.isLoading"
     ng-hide="vm.step == 2">
    <div class="ready step-container"
         ng-if="vm.step == 0">
        <div class="bs-callout bs-callout-warning"
             ng-if="vm.mode != 'c'">
            <p ng-if="vm.mode == 'g'">
                Immagina di essere uno studente che ha deciso di
                cambiare università. Vuoi ottenere delle informazioni specifiche
                sull'ateneo di destinazione, per esempio quali corsi propone.
                Decidi di visitare il sito dell'università per questo motivo.
            </p>
            <p ng-if="vm.mode == 'a'">
                Immagina di essere uno studente che ha deciso di cambiare
                università. Vuoi ottenere delle informazioni sull'ateneo di
                destinazione. Decidi di visitare il sito dell'università per
                questo motivo.
            </p>
        </div>

        <div class="text-center">
            <a class="btn btn-primary" ng-click="vm.viewChanger()">Vai all'immagine {{vm.currentImage}}/{{vm.imagesCount}}</a>
        </div>
    </div>

    <div class="set step-container"
         ng-if="vm.step == 1">
        <div class="text-center">
            <h2 class="countdown">{{vm.missingSeconds}}</h2>
        </div>
    </div>

    <div class="results text-center"
         ng-if="vm.step == 3">
        <h3>Rispondi al questionario</h3>

        <div>
            <iframe ng-src="{{vm.formSrc}}"
                    width="760"
                    height="800"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0">Loading...</iframe>
        </div>

        <div class="divide100">
            <h4>Ricordati di inviare il questionario prima di procedere</h4>

            <button class="btn btn-default"
                    ng-click="vm.viewChanger()">
                Prossimo
            </button>
        </div>

        <div class="divide100"></div>
    </div>
</div>

<div class="go"
     ng-if="vm.step == 2 && vm.isSuccessful">
    <img class="screenshot"
         ng-src="{{vm.imageSrc}}">
</div>
